.card {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	transition: transform 150ms ease, box-shadow 100ms ease;
	padding: var(--mantine-spacing-xl);
	padding-left: calc(var(--mantine-spacing-xl) * 2);

	@mixin hover {
		box-shadow: var(--mantine-shadow-md);
		transform: scale(1.02);
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: rem(6px);
		background-image: linear-gradient(0, var(--mantine-color-pink-6), var(--mantine-color-orange-6));
	}
}

.button {
	display: flex;
	width: 100%;
	border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-8));
	border-radius: var(--mantine-radius-sm);
	padding: var(--mantine-spacing-lg);
	background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));

	@mixin hover {
		background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-9));
	}
}

.root {
	position: relative;
}

.input {
	height: rem(54px);
	padding-top: rem(18px);
}

.label {
	position: absolute;
	pointer-events: none;
	font-size: var(--mantine-font-size-xs);
	padding-left: var(--mantine-spacing-sm);
	padding-top: calc(var(--mantine-spacing-sm) / 2);
	z-index: 1;
}
